@import './colors.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=latin-ext');

@import './loginForm.scss';
@import './loader.scss';
@import './toast.scss';
@import './header.scss';
@import './generator.scss';
@import './steps.scss';
@import './infoModal.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  width: 66px;
  height: 32px;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  color: $title-color;
  text-align: center;
}

input, button {
  outline: none;
}

