:root {
    --white: #FFFFFF;
    --alabaster: #F7F7F7;
    --silver: #C9C9C9;
    --silver-chalice: #A5A1A1;
    --dove-grey: hsl(0, 0%, 45%);
    --gray: #7E7E7E;
    --oslo-gray: #848C93;


    --bombay: #ADB2B5;

    --green: #1DE278;
    --violet: #77779D;

    --boticelli: #CDDBE5;
    --hippi-blue: #6991B2;

    --scorpion: #5A5858;
}


$header-bg: var(--silver);
$header-select-color: var(--gray);
$header-select-bg: var(--white);
$header-data-block-bg: var(--white);

$header-btn--accent: var(--violet);
$header-btn-color--accent: var(--white);

$main-text-color: var(--silver-chalice);
$title-color: var(--dove-grey);

$toast-text-color: var(--white);

$input-border-color: var(--silver);

$login-btn-text-color: var(--white);
$login-btn-bg: var(--green);

$loader-bg: var(--bombay);
$loader-title: var(--white);
$loader-bar-color: var(--white);

$checkbox--checked: var(--silver);

$step-bg:  var(--boticelli);
$step-icon-color: var(--hippi-blue);
$step-text-color: var(--oslo-grey);

$step-bg--active: var(--hippi-blue);
$step-color--active: var(--white); 

$generator-label-color: var(--silver-chalice);
$generator-input-color: var(--silver-chalice);
$generator-divider: var(--alabaster);

$door-default-color: var(--scorpion);

$btn-square-bg: var(--boticelli);
$btn-square-color: var(--hippi-blue);