#generatorWrapper {
    width: 100%;
    height: calc(100vh - 80px);
    @include grid-layout(1fr 2fr 2fr 2fr 1fr, 1fr 3fr 1fr,  ". . . .");
    position: relative;
}

.generator__steps-block {
    @include grid-place(1, 2, 3, 4, center, center);
    @include flex-block(row, baseline, center);
}

.steps-block__step{
    @include flex-block(column, center, center);
}

.step__circle {
    top: 102px;
    left: 659px;
    width: 46px;
    height: 46px;
    margin-bottom: 1em;
    background: $step-bg 0% 0% no-repeat padding-box;
    border-radius: 100%;
    font-size: 7px;
    line-height: 46px;
    text-align: center;
    color: $step-icon-color;
    transition: 0.3s all ease-out;
}

.step__circle--active {
    background-color: $step-bg--active;
    color: $step-color--active
}

.step__progress-line {
    width: 130px;
    height: 2px;
    background: #EBF7FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.step__title {
    text-align: center;
    font-size: 13px;
    letter-spacing: 0;
    color: $step-text-color;
    text-transform: uppercase;
}


.generator {
    @include grid-place(2, 3, 2, 5, baseline, center);
    @include flex-block(row, flex-start, center); 
}

.generator__view {
    position: relative;
    width: 590px;
    height: 472px;
    border: 1px solid #E6E6E6;
    opacity: 1;
    @include flex-block(column, center, center);
} 


.door {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 300px;
    border: 5px solid $door-default-color;
}


.generator__btn {
    position: absolute;
    bottom: 0;
    width: 126px;
    height: 31px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;    
}

.generator__btn--filled {
    left: 176px;
    color: #FFFFFF;
    background: #6F91AA 0% 0% no-repeat padding-box;
}

.generator__btn--outlined {
    color: #6F91AA;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #6F91AA;
}

.generator__btn--left {
    left: 2em;
}

.generator__nav {
    position: relative;
    width: 332px;
    height: 472px;
    padding-left: 2em;
}



.generator__label {
    font-size: 19px;
    letter-spacing: 0;
    color: $generator-label-color;
}

.generator__input {
    width: 55px;
    height: 24px;
    border: 1px solid $generator-input-color;
    font-size: 19px;
    letter-spacing: 0;
    color: $generator-label-color;
    // padding: 7px;
    box-sizing: border-box;
}

.generator__group-label {
    position: relative;
    display: block;
    min-width: 170px;
}


.generator__input-group {    
    right: 0;
    top: 4px;
    top: 5px;
    position: absolute;
    @include flex-block(row, center, space-around);
    width: 100px;
}

.generator__divider {
    width: 153px;
    height: 0px;
    margin: 1em 0;
    border: 1px solid #F7F7F7;
}

.generator__radio-block {
    min-width: 300px;
    height: 50px;
}

.generator__radio-block--inline {
    min-width: 100px;
    display: inline-block;

    .generator__radio-label {
        left: 10px;
    }

    .check {
        width: 10px;
        height: 10px;

        &::before {
            height: 8px;
            width: 8px;
            top: 1px;
            left: 1px;
            margin: auto;
        }
    }

    label > span {
        font-size: 14px;
        color: #6890b2
    }
}

.generator__radio-label {
    position: relative;
    width: 100%;

    & > span {
       position: absolute;
       top: 0;
       left: 2em;
       min-width: 150px;
    }
}

input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  .check{
    display: block;
    position: absolute;
    border: 5px solid #cddbe5;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0;
    left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
    
    &::before {
        display: block;
        position: absolute;
          content: '';
        border-radius: 100%;
        height: 11px;
        width: 11px;
        top: 2px;
        left: 2px;
        margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
      }
  }

  input[type=radio]:checked ~ .check::before{
    background: #6890b2;
  }
  

  .generator__toggle {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 80px;
    height: 30px;
    background: $generator-toggle-bg--basic;
    border: 1px solid $generator-toggle--accent;
    color: $generator-toggle--accent;
    line-height: 27px;
    cursor: pointer;
    transition: all 7ms cubic-bezier(.01,.49,.69,.36);

    &::after {
        content: '2D';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40px;
        height: 100%;
        background-color: $generator-toggle-bg--accent;
        border: 1px solid $generator-toggle--accent;
        box-sizing: border-box;
        text-align: center;
    }
  }

.generator__toggle--active::after {
    right: 40px;
    content: '3D';
}

  .generator__toggle-label {
    width: 100%;
    @include flex-block(row, center, space-around);
  }

  .generator__toggle-input {
      display: none;
  }

  .door {
    width: 145px;
    height: 321px;
    margin-right: 1px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    opacity: 1;
  }

  .generator__btn--square {
    width: 24px;
    height: 24px;
    background-color: $btn-square-bg;
    color: $btn-square-color;
    border: 0;
  }

  .generator__input--square {
      border: 1px solid $btn-square-color;
      width: 24px;
      height: 24px;
  }

  .generator__color {
    width: 35px;
    height: 35px;
    margin: 9px auto;
    border-radius: 100%;
  }

  .generator__color--white {
      background-color: #F4F2F2;
  }
  .generator__color--black {
      background-color: #000000;
  }
  .generator__color--gray {
      background-color: #797474;
  }

  .generator__info-btn {
    width: 15px;
    height: 15px;
    border: 0;
    background: url(../img/info.svg) center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .beam {
    height: 5px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: #5A5858 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    // top: calc((331px - 80px));
    width: 100%;
  }

  .post {
    position: absolute;
    width: 7px;
    height: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #5A5858 0% 0% no-repeat padding-box;
    opacity: 1;
  }