@mixin grid-layout($cols, $rows, $areas) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  grid-template-areas: $areas;
}

@mixin grid-place($row-start, $row-end, $col-start, $col-end, $align, $justify) {
  grid-row-start: $row-start;
  grid-row-end: $row-end;
  grid-column-start: $col-start;
  grid-column-end:$col-end; 
  align-self: $align;
  justify-self: $justify;
}

@mixin flex-block($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
