.toast-message__block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 81px;
    background: #F24E33 0% 0% no-repeat padding-box;
    color: $toast-text-color;
    text-align: center;
    line-height: 81px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}